<mat-sidenav-container class="container">
  <mat-sidenav
    class="sidenav"
    [mode]="'side'"
    [opened]="isSidebarOpen"
    [style.widthpx]="isSidebarCollapsed ? 64 : 240"
    (openedStart)="isSidebarOpen = true"
    (closedStart)="isSidebarOpen = false">
    <app-sidebar [collapsed]="isSidebarCollapsed" (collapsedChange)="isSidebarCollapsed = $event"></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header">
      <app-header [userInfo]="userInfo" (logout)="logout()" (toggleSidebar)="toggleSidebar()"></app-header>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>